<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body >
<div align="center">
    <th:block th:include="fragments/top_menu :: menu"></th:block>
    <h1>Zamówienia do magazynu</h1>

</div>
<div class="container my-2">
    <table border="2" class = "table table-striped table-responsive-md">
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Ilość do zamówienia</th>
            <th>Koszt</th>
            <th>Modyfikuj</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${listOrders}">
            <td th:text="${order.getName()}"></td>
            <td th:text="${order.getCount()}"></td>
            <td th:text="${order.getCost()}"></td>
            <td><a th:href="@{updateOrder/{id}(id=${order.id})}" class="btn btn-primary">Edycja</a>
                <a th:href="@{deleteOrder/{id}(id=${order.id})}" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>